[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
*.stackdump

.vs/
.idea/
.vscode/
*.csproj
*.sln
*.slnx
*.suo
*.user
*.userprefs
*.pidb
*.booproj

*.apk
*.aab
*.unitypackage
crashlytics-build.properties

.DS_Store
Thumbs.db
# Сборки
[Bb]uild/
[Bb]uilds/
test/

# Служебное от Visual Studio / мастера обновления
.vsconfig
UpgradeLog.htm
Backup/
UpgradeLog*.htm